.twoColumn {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    max-width: 1300px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.colDesktop {
    width: 49%;
}

.colMobile {
    width: 100%;
}