.hero {
    background-image: url(./laptop-hero.jpg);
    height: 70vh;
    padding: 50px;
    margin-bottom: 0px;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.headerWrapper {
    width: 60%;
}
