.card {
  background: #fff;
  border-radius: 5px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  padding-bottom: 20px;
  height: 530px;
}

.card>.img-container {
  height: 50%;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
  text-align: center;
}

.card>.content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card>.content>sub {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-style: normal;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.flex-wrapper>a>button {
  background-color: #f1d102b5;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

.flex-wrapper>a>button:hover {
  border: 1px solid #F1D302;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}


.flex-wrapper>a:nth-child(2)>button {
  background-color: #242325;
  color: #F1D302;
}

.flex-wrapper>a:nth-child(2)>button:hover {
  border: 1px solid #242325;
  color: #242325;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}