.appbar {
    background-color: #F1D302;
    color: #242325;
    
}


.avatarStyle {
    height: 56px;
    width: 56px;
    margin-right: auto;
}

.NavLinks {
    text-decoration: none;
    color: #242325;
}

.active {
    background-color: white;
    border-radius: 5px;
}