body {
    margin: 0;
    font-family: sans-serif;
    margin-top: 65px;
}

html, body, #root {
    height: 100%;
}


/* Text styling */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

sub {
    color: rgb(81, 81, 81);
    font-size: 1.5rem;
    font-style: italic;
}
